<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Bank online</title>
</head>

<body>
    <div class="container">
        <h1>
            Hello <span th:text="${account.name}"></span>! Welcome to the Bank online
        </h1>
        <!-- logout btn -->
        <div class="container text-right">
            <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        </div>
        <div class="container">
            <h3 class="text-center">List of Transaction</h3>
            <hr>
            <div class="container text-left">
                <a th:href="@{/transaction}" class="btn btn-success">Add New Transaction</a>
            </div>
            <br>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TransDate</th>
                        <th>Withdraw</th>
                        <th>Deposit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trans: ${transactions}">
                        <td th:text="${trans.id}" />
                        <td th:text="${trans.trandate}" />
                        <td th:text="${trans.withdraw}" />
                        <td th:text="${trans.deposit}" />
                        <td th:text="${trans.balance}" />

                    </tr>
                </tbody>

            </table>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>
